<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
       	<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">P@ssw0rd</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=LeonPower;encrypt=true;trustServerCertificate=true</property>
		<property name="hibernate.connection.username">watcher</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
  		<property name="hibernate.current_session_context_class">thread</property>
  		
  		<mapping resource="tw/leonchen/model/HouseBean.hbm.xml"/>
  		<mapping resource="tw/leonchen/model/ParkBean.hbm.xml"/>
  		<mapping class="tw.leonchen.model.Department"/>
  		
  		<mapping class="tw.leonchen.model.Book"/>
  		<mapping class="tw.leonchen.model.BookDetail"/>
		
		<mapping class="tw.leonchen.model.Stock"/>
		<mapping class="tw.leonchen.model.StockTransaction"/>
		
		<mapping class="tw.leonchen.model.Role"/>
		<mapping class="tw.leonchen.model.Game"/>
		
		<mapping class="tw.leonchen.model.Information"/>
    </session-factory>
</hibernate-configuration>
